<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_menu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSite Manager</a>
    </div>
    <div id="navbar_menu" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if active == "home" %}class="active"{%endif%} ><a href="{% url 'home' %}">Home</a></li>

        {% for filepath in file_paths %}
          <li {% if active == "file_serve" and filepath.slug == path_slug %}class="active"{%endif%} >
            <a href="{% url 'core:file_serve' filepath.slug '' %}">{{ filepath.title }}</a></li>
        {% endfor %}

        <li><a href="/transmission">Torrent</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>